{{#section 'js'}}
<script
    src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
    tinymce.init({
        selector: '#descriptionProduct',
        height: 300,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    })
</script>
{{/section}}

<!-- main content -->

<div class="main-content">
    <div class="registration-page container p-tb-40">
        <div class="post-content">
            <form method="POST" id="post-form" class="post-form" novalidate enctype="multipart/form-data">
                <h2 class="post-form-title text-center">Đăng sản phẩm</h2>
                <div class="row p-t-15">
                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-input">Tên sản phẩm</span>
                            <input type="text" class="form-input" name="nameProduct" id="nameProduct"
                                placeholder="Nhập tên sản phẩm" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-input">Giá khởi điểm (đơn vị: USD)</span>
                            <input type="number" class="form-input" step="10000" name="startingPriceProduct"
                                id="startingPriceProduct" min="10000" placeholder="Nhập giá khởi điểm (USD)" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-input">Số ngày đấu giá (tối đa: 100)</span>
                            <input type="number" class="form-input" step="1" name="stepPriceProduct"
                                id="stepPriceProduct" min="1" max="100" placeholder="Nhập số ngày" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-input">Giá mua ngay (đơn vị: USD)</span>
                            <input type="number" step="10000" class="form-input" name="bestPrice" id="bestPrice"
                                min="100000" placeholder="Nhập giá mua ngày (USD)" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-input">Mô tả chi tiết sản phẩm</span>
                            <textarea name="descriptionProduct" id="descriptionProduct" cols="30" rows="10"
                                class="form-input w-100" placeholder="Nhập mô tả sản phẩm"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-input">Đính kèm ảnh sản phẩm</span>
                            <input type="file" name="fileProduct" id="fileProduct" class="form-input" multiple />
                            <span class="label-input">What category is your product?</span>
                            <select class="mdb-select md-form" name="cate" id="cate">
                                <option value="" disabled selected>Choose category</option>
                                {{#each lcCategories}}
                                <option value="{{id}}">{{category}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-center fs-20">
                    <i class="fa fa-arrow-left" style="color: #007bff;"></i>
                    <a href="profile.html">
                        Quay lại
                    </a>
                </div>
                <div class="container-login-form-btn p-tb-25">
                    <div class="wrap-login-form-btn  w-25">
                        <div class="login-form-bgbtn"></div>
                        <button class="login-form-btn">
                            Đăng sản phẩm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- main content end -->